*{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
        background-color: #005eff;

}
.lighten-4{
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #192841;
    color: white;
}
.nav-link{
    height: 100%;
}
.nav-link ul{
    margin: 0;
    padding: 0;
    display: flex;

}
.nav-link li{
    list-style: none;
}
.nav-link li a{
    display: block;
    text-decoration: none;
    color: #eee;
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
    padding: 1rem;
    
}
.nav-link li:hover{
    background-color: rgb(255, 0, 149);
}
.toggle-button{
    display: none;
    position:absolute;
    top: 1.5rem;
    right: 2rem;
    flex-direction: column;
    justify-content: space-between;
    width: 40px;
    height: 31px;
}
.toggle-button .bar{
    height: 3px;
    width: 100%;
    background: white;
    border-radius: 10px;
}
@media(max-width:800px){
    .toggle-button{
        display: flex;
    }
    .nav-link{
        display: none;
        width: 100%;
    }

.lighten-4{
    flex-direction: column;
    align-items: flex-start;
}

.nav-link ul{
    width:100%;
   
    flex-direction: column;
}
.nav-link ul li{
    text-align: center;
}
.nav-link a{
    padding: .5rem 1rem;
}
.nav-link.active{
    display: flex;
}
}
.modal {
    display: none;
    margin-left: auto;
    margin-right: auto;
    position:relative;
    box-sizing: border-box;
    border-radius: 8px;
    margin-top: -7%;
    width: 500px;;
    padding: 10px 10px;
    background: #005eff;
}
.modal form{
    margin-top: -20px;
}
.modal form .input-field{
    height: 45px;
    width: 100%;
    margin: 40px 0;
}


.modal .modal-content h4 {
    font-size: 35px;
    font-weight: 700;
    line-height: 110%;
    text-align: center;
    text-transform: uppercase;
   
    color: #ffffff;
}

form {
    display: block;
    margin-top: 0em;
    margin-block-end: 1em;
}
.input-field {
    height: 100%;
    width: 100%;
    margin: 4px 0;
}

form .btn.yellow.darken-2.z-depth-0{
    height: 40px;
    width: 100%;
    border: none;
    outline: none;
    font-size: 15px;
    background: rgb(255, 0, 149);
    color: #eee;
    border-radius: 8px;
    cursor: pointer;

}



form .input-field label {
    font-size: 18px;
    color: #ffffff;
}
form .input-field input,textarea{
    height: 100%;
    width: 100%;
    padding-left: 10px;
    font-size: 17px;
    border: 1px solid lightgrey;    
    border-radius: 8px;
}

input[type="password" ] {
    -webkit-text-security: disc !important;
    padding-left: 0px;
    padding-right: 10px;
}

.pink-text {
    color: #000000 !important;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.hiddendiv {
    visibility: hidden;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
    padding-top: 1.2rem;
    position: absolute;
    top: 0;
    z-index: -1;
}
.modal-overlay {
    position: fixed;
    z-index: 999;
    top: -25%;
    left: 0;
    bottom: 0;
    right: 0;
    height: 125%;
    width: 100%;
    background: rgb(0, 0, 0);
    display: none;
    
}
.container{
    color: white;
    font-size: 1.5rem;
    margin: .5rem;
}





input[type=text], input[type=tel] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 8px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: rgb(255, 0, 149);
    color: white;
    border-radius: 8px;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  /* Extra styles for the cancel button */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
  /* Center the image and position the close button */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
  }
  
  img.avatar {
    width: 40%;
    border-radius: 50%;
  }
  
  .container1 {
    padding: 16px;
  }
  
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* The Modal (background) */
  .modal1 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
  }
  
  /* Modal Content/Box */
  .modal-content1 {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button (x) */
  .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }
  
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  label{
      color: rgb(255, 255, 255);
  }
  label b{
      color: white;
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
  }
  h4{
      text-align: center;
      font-size: 40px;
      color: white;
      font-weight: 800;
      cursor: pointer;
  }
  *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }
  footer{
      background: #192841;
      height: auto;
      width: 100vw;
      font-family: "Open Sans";
      padding-top: 40px;
      color: white;
  }
  .footer-content{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
  }
  .footer-content h3{
      font-size: 1.8rem;
      font-weight: 400;
      text-transform: capitalize;
      line-height: 3rem;
  }
  .footer-content p{
      max-width: 500px;
      margin: 10px auto;
      line-height: 28px;
      font-size: 14px;
  }
  .socials{
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 1rem 0 3rem 0;
  }
  .socials li{
      margin: 0 10px;
  }
  .socials a{
      text-decoration: none;
      color: white;
  }
  .socials a i{
      font-size: 2.1rem;
  }
  .footer-bottom{
      background: #000;
      width: 100vw;
      padding: 20px 0;
      text-align: center;
  }
  .footer-bottom p{
      font-size: 14px;
      word-spacing: 2px;
      text-transform: capitalize;
  }
  .footer-bottom span{
      text-transform: uppercase;
      opacity: .4;
      font-weight: 200;
  }
